body{
margin:0;
background:#0f172a;
color:white;
font-family:"Press Start 2P";
text-align:center;
}

.hidden{
display:none;
}

button{
padding:10px;
margin:6px;
background:#6366f1;
border:none;
color:white;
cursor:pointer;
}

#room{
height:400px;
background:#1e293b;
position:relative;
overflow:hidden;
}

#desk{
font-size:40px;
margin-top:120px;
}

#uzik{
position:absolute;
bottom:30px;
left:60%;
font-size:40px;
cursor:pointer;
}

#pet{
position:absolute;
bottom:30px;
left:30%;
font-size:30px;
cursor:pointer;
}

#spiderman{
position:absolute;
top:0;
left:-100px;
font-size:40px;
animation:swing 10s infinite linear;
}

@keyframes swing{

0%{left:-100px;top:0;}
50%{top:120px;}
100%{left:120%;top:0;}

}

#window{

width:160px;
height:100px;
background:skyblue;
margin:auto;
margin-top:20px;

}

.keypad{
display:grid;
grid-template-columns:repeat(3,80px);
gap:10px;
justify-content:center;
}

.keypad button{
height:60px;
font-size:20px;
}

#timer{
font-size:30px;
margin-top:10px;
}
